.backdrop{
    background-color: rgba(0, 0, 0, 0.413);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 950;
}

.modal{
    background-color: var(--light-blue);
    color: var(--white-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border: none;
    z-index: 1000;
}
.modal p{
    margin: 1rem 0;
}
.confirmBtn, .cancelBtn{
   border-radius: 0 !important;
   margin-top: 1rem; 
}

.modal .cancelBtn{
    margin-left: 1rem;
}

@media (max-width: 1051px) {
    .modal{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .modal{
        width: 90%;
    }
}